<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>insert Jobs</title>
</head>
<body>
  <div>
    <form action="" method="post">


    <label for="">title</label>
    <input name="title"/>
    <label>level</label>
    <select name="level" id="">
      <option value="All Levels">All Levels</option>
      <option value="Junior">Junior</option>
      <option value="Middle">Middle</option>
      <option value="Middle - Senior">Middle - Senior</option>
      <option value="Senior">Senior</option>
    </select>
    <br>
    <br>
    <br>
    <label for="">description</label>
    <input name="description" />
    <br>
    <br>
    <br>
    
    <label for="">responsibility</label>
    <textarea name="responsibility" rows="10" cols="60"></textarea>
    <button  >OK</button>
  </form>
  </div>
</body>
</html>