<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>insert Jobs</title>
</head>
<body>
  <div>
    <form action="" method="post">


    <p for="">title</p>
    <input name="title"/>
    <br>
    <p>level</p>
    <select name="level" id="">
      <option value="All Levels">All Levels</option>
      <option value="Junior">Junior</option>
      <option value="Middle">Middle</option>
      <option value="Middle - Senior">Middle - Senior</option>
      <option value="Senior">Senior</option>
    </select>
    <br>
    <br>
    <br>
    <p for="">description</p>
    <input name="description" />
    <br>
    <br>
    <br>
    
    <p for="">responsibility</p>
    <textarea name="responsibility" rows="10" cols="60"></textarea>
    <br>
    <br>
    <br>
    <p for="">qualification</p>
    <textarea name="qualification" rows="10" cols="60"></textarea>
    <br>
    <br>
    <br>
    <p for="">skill</p>
    <textarea name="skill" rows="10" cols="60"></textarea>
    <br>
    <br>
    <br>
    <p for="">location</p>
    <textarea name="location" rows="10" cols="60"></textarea>
    <p for="">fresh_grad</p>
    <select name="fresh_grad" id="">
      <br>
      <br>
      <br>
      <option [ngValue]="true">true</option>
      <option [ngValue]="false">false</option>
    </select>
    <br>
    <button  >>>>OK</button>
  </form>
  </div>
</body>
</html>